.titles, html, body {
	width: 100%;
    min-height: 100%;
    padding: none;
    margin: 0px;
    margin-top: 0px;
    background-color: #F2F2F2;
}

#main_headline {
  line-height: 0;
	letter-spacing: 2px;
	text-align: center;
	font-family: 'Courier New', serif;
	font-size: 2.3em;
}

#sub_headline {
	text-align: center;
	font-family: 'Courier New', serif;
	font-size: 1.2em;
}

.nav ul {
	list-style: none;
	background-color: #696E6D;
	text-align: center;
	padding: 0;
	margin: 0;
}
.nav li {
	font-family: 'Oswald', serif;
	font-size: 1.2em;
	line-height: 40px;
	height: 40px;
	border-bottom: 1px solid #696E6D;
	display: inline-block;
	margin-right: -4px;
}

.nav li:active {
  background-color: #444;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;

}

.nav a:hover {
  background-color: #444;
}

.nav a:active {
  background-color: #444;
}

/* copied while looking at michael greenbergs blog for keeping nav bar formatted */
@media screen and (min-width: 300px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }


footer {
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #e3e3e3;
    padding: 0px;
    margin: 0px;
}

.site-footer {
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.site-footer ul {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
}
.site-footer li {
	font-family: 'Oswald', serif;
	font-size: 1.2em;
	line-height: 50px;
	height: 40px;
	border-bottom: 1px solid #696E6D;
	display: inline-block;
	margin-right: -4px;
}


 .site-footer li:active {
  background-color: #444;
}

.site-footer a {
  text-decoration: none;
  color: #696E6D;
  display: block;

}

.site-footer a:hover {
  background-color: #FFF;
}

.site-footer a:active {
  background-color: #444;
}

@media screen and (min-width: 300px) {
  .site-footer li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
}

#para {
  width: 75%;
  display: inline-block;
  padding-right: 0.75em;
  padding-left: 0.75em;
  line-height: 150%;
  margin-left: 10em;
  background-color: white;
  height: 30em;
}

#para ul {
  list-style: none;
}

#para li{
  padding-top: 1em;
  font-family: 'Oswald', serif;
  font-size: 1.2em;
  line-height: 0px;
  height: 40px;
  margin-left: 3px;
}

a{
  color: black;
}

